/* font-family: 'Chakra Petch', sans-serif; */
/*Photo by Mustafa ezz from Pexels*/

body{
    margin:0;
    padding:0;
    overflow:hidden;
    font-family: 'Chakra Petch', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#backpage, #imgpage, #cover{
    position:absolute;
    width:100%;
    height:100vh;
}
#backpage{
    background-color:#2B3A42;
}
#imgpage{
    background: url(img/background.jpg);
    background-size:cover;
    transform: scale(1.1);
    transition: .4s ease-in-out;
   
}
#cover{
    background-color:rgba(0, 0, 0, 0.849);
    color:#fff;
    transition: .4s ease-in-out;
}

header{
    position: fixed;
    width:100%;
    height:10vh;
    display:flex;
    justify-content: space-around;
    color:#fff;
}
span{
    color:#FF8F00;
    font-size: 30px;
}

/*--------- nav ----------*/
.nav{
    width:400px;
    display:flex;
    justify-content: space-around;
    
}
.navlink{
    transition:.2s ease-in-out;
    width:100px;
    height:10vh;
    line-height: 10vh;
    text-align:center;
    cursor: pointer;
}

#homeBtn{
    border-bottom:solid 4px #FF8F00;
}


/*--------- front content -----------*/

.frontWrap{
    width:70%;
    height:60vh;
    text-align:center;
    margin:auto;
    top:200px;
    position: relative;
    z-index: 10;
}
.textBox{
    width:350px;
    margin:auto;
}
.btnWrap{
    width:50%;
    height:40px;
    margin:200px auto 0 auto;

}
#cBtn{
    float:left;
}

.btn{
    width:150px;
    height:40px;
    color:#000;
    background-color:#FF8F00;
    line-height:40px;
    font-weight: 900;
    cursor: pointer;
    position: relative;
  
}

#aBtn a{
    width:100%;
    text-decoration:none;
    color:#000;
   
}

#aBtn{
    background-color:#fff;
    float:right;
    line-height: 40px;
    color:#000;
    transition:.1s;
}
#aBtn:hover{
    transform: scale(1.1);
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.137);
}



/*-------- contact ---------*/
.hoverContact{
    display:none;
}
.nameEmail{
    width:80%;
    height:30px;
    margin:15px 0;
    background:transparent;
    border:none;
    outline:none;
    border-bottom: solid 1px #fff;
    color:#fff;
}

.textArea{
    width:80%;
    height:30px;
    background:transparent;
    margin:70px 0;
    border:none;
    outline:none;
    border-bottom: solid 1px #FFf;
    color:#fff;
}
#messageBtn{
    display:block;
    line-height:30px;
    color:#FFf;
    width:150px;
    border:solid 1px #FFf;
    margin:auto;
    background:rgba(0, 0, 0, 0.5);
    transition: .1s;
}
#messageBtn:hover{
    background:rgb(0, 0, 0);
}

/*-------- about ---------*/

.myInfo{
    width:40%;
    height:300px;
    position: absolute;
    margin:auto;
    left:0;
    right:0;
    top:220px;
    color:#fff;
    text-align: center;
    padding:40px;
    opacity: 0;
    transform:scale(0.8);
    transition: .4s ease-in-out;
}
.myInfo h2{
    margin:30px;
}
.myInfo p{
    line-height: 30px;
}
.infoBar{
    background-color:rgba(0, 0, 0, 0.521);
    position: absolute;
    margin:auto;
    left:0;
    right:0;
    bottom:-1100px;
    width:500px;
    height:100px;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display:none; */
}
.infoBar i{
    font-size:40px;
    color:#FF8F00;
    padding:20px;
    text-align: center;
}
.infoBar i:hover{
    transform: scale(1.3);
    transition:.1s linear;
}
.arrow{
    width:100px;
    height:100px;
    position:absolute;
    left:0;
    right:0;
    top:720px;
    margin:auto;
    text-align:center;
    color:#FF8F00;
    font-size:30px;
    opacity: 0;
    transition:.4s ease-in-out;
    transform: scale(0.8);
}
.arrow p{
    margin:0;
    font-size: 20px;
}
.arrow i{
    animation: arrowBounce .8s infinite alternate ease-in-out;
}

@keyframes arrowBounce {
    0% {
        transform: translateY(0);
        opacity: 0.4;
    }
    100%{
        transform: translateY(10px);
        opacity: 0.9;
    }
}

.techskills{
    position: absolute;
    color:#FF8F00;
    top:250px;
    left:250px;
    opacity: 0;
    transition: .4s ease-in-out;

}
.techskills li{
    line-height:40px;
    list-style: none;
    text-transform: capitalize;
    margin-left:-20px;
}
/*-------- projects page ---------*/


.edge{
    background-color:#FF8F00;
    width:40px;
    height:100vh;
    position: absolute;
}
#leftEdge{
    left:-40px;
}
#rightEdge{
    right:-40px;
}

.infobox{
    width:400px;
    height:800px;
    position: absolute;
    outline:solid 2px #FF8F00;
    outline-offset: -40px;
    top:130px;
    left:140px;
    opacity: 0;
    background-color:rgb(37, 51, 59);
    transition: .4s ease-in-out;
}
.pInfo{
    margin-top:40px;
    padding:50px;
    transition: .4s ease-in-out;
    color:#fff;
    text-align: center;
    transform: scale(0.6);
    opacity: 0;
    line-height: 30px;
}
.infobox h3{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background-color:rgb(37, 51, 59);
    text-align:center;
    top: 2px;
    color:#FF8F00;
    padding: 0 10px;
    font-size:22px;
}
#backBtn{
    display:none;
}

.projectWrap{
    width:100%;
    margin:200px auto 0 auto;
    opacity: 0;
    transform: scale(0.8);
    transition: .4s ease-in-out;
   
}
.proImg{
    max-width: 40%;
    min-width: 300px;
    height:auto;
    margin:auto;
    cursor: pointer;
    transition:.4s ease-in-out;
    position: relative;
    box-shadow:2px 2px 7px 2px rgba(0, 0, 0, 0.185);

}

.image{
   width:100%;
   display: block;
    
    
}
.procover{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    top:0;
    transition:.4s ease-in-out;
   
}

.procover:hover{
    background-color:rgba(0, 0, 0, 0.432);
}
.procover:hover .probtnWrap{
    transform: scale(1);
    opacity: 1;
}

.probtnWrap{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:100%;
    transform: scale(1.1);
    opacity: 0;
    transition:.4s ease-in-out;
}
.probtnWrap:focus{
    outline:0;
}
#visit, #git, #info{
    background-color:rgb(17, 17, 17);
    border:solid 1px #FF8F00;
    color:#FF8F00;
    text-align:center;
}
#visit a, #git a{
    text-decoration: none;
    color:#FF8F00;
    width:100%;
    display: block;
}

.working-on{
    width:200px;
    height:200px;
    border-radius:50%;
    background-color:rgb(37, 51, 59);
    border:solid .5px #FF8F00;
    position: absolute;
    right:200px;
    top:300px;
    line-height:200px;
    text-align:center;
    color:#FF8F00;
    cursor: pointer;
    font-size:20px;
    transition: .3s ease-in-out;
    opacity: 0;
}

.working-on:hover {
    transform: scale(.9)
}
.side-arrow{
    display: inline-block;
    border: solid #FF8F00;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    margin-right:10px;
    padding: 3px;
    transition: .3s ease-in-out;
}
#nextBtn{
    text-align:center;
    background-color:#FF8F00;
    margin:10px auto;
    position: absolute;
    left:0;
    right:0;
    bottom:-50px;
    transition:.1s;
}
#nextBtn:hover{
    transform: scale(1.1);
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.137);
}

#cred{
    position:absolute;
    bottom:30px;
    width:150px;
    text-align: center;
    left:0;
    right:0;
    margin:auto;
    color:#BDD3DE;
    display:block;
    opacity: 0;
    transition: .4s ease-in-out;
}


/*----- tablet -----*/
@media (min-width: 750px) and (max-width: 1050px){
    .responsiveWrap{
        overflow: hidden;
    }
    
    #cBtn, #aBtn{
        float:none;
        margin:auto;
    }
    #aBtn{
        margin-top:20px;
    }
    /*------ about --------*/
    .myInfo{
        width:80%;
        top:300px;
    }
    .techskills{
        position: relative;
        top:30px;
        text-align:center;
        left:0;
       

    }
    .techskills ul{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        width:50%;
        margin:auto;
    }
    .techskills li{
        line-height: 30px;
        margin:5px;
    }
    .arrow{
        top:800px;
    }
    /*------ projects --------*/
    .proImg{
        max-width: 70%;
    }
    .probtnWrap{
        transform: scale(1);
        opacity: 1;
        justify-content: space-around;
        height: auto;
       position: relative;
       top:-60px;
    }
    .infoBar{
        bottom:-1600px;
    }
    .infobox{
        width:650px;
        height:350px;
        top:500px;
        left:0;
        right:0;
        margin:auto;
    }
    .pInfo{
        margin-top:10px;
        font-size:12px;
    }
    /*---- img page ----*/
    #imgpage{
        background-position: center;
    }
    .working-on{
        display:none;
    }
}

/*----- mobile -----*/
@media (min-width: 300px) and (max-width: 650px){
    header{
        flex-wrap:wrap;
    }
    .frontWrap{
        width:90%;
    }
    .textBox{
        width:auto;
        height:auto;
        margin:auto;
    }
    .btnWrap{
        width:100%;
        margin:40px auto 0 auto;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        height:auto;
    }

    #imgpage{
        background-position: center;
    }
    #aBtn, #cBtn{
        margin:10px;
    }
    .nameEmail, .textArea{
        border-bottom:solid 1px #000;
        
    }
    ::placeholder{
        color:rgb(20, 20, 20);
    }
    .textArea{
       
        margin:70px 0 30px 0;
       
    }
    #messageBtn{
        color:rgb(250, 236, 40);
        border:solid 1px #000;
    }

    /*---- about ----*/
    .myInfo{
        width:90%;
        height:auto;
        position: absolute;
        left:0;
        right:0;
        top:20vh;
        color:#fff;
        text-align: center;
        padding:0;
      
    }
    .myInfo p {
        line-height: 20px;
        font-size:1.4vh;
    }
    .techskills{
        display:none;
    }
    .arrow{
        display:none;
    }
    .infoBar{
      
        width:80%;
        height:60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .infoBar i{
        font-size:25px;
        padding:10px;
    }
    /*-- projects --*/

    #leftEdge, #rightEdge{
        display:none;
    }
    .probtnWrap{
        transform: scale(1);
        opacity: 1;
        justify-content: space-around;
        height: auto;
        position: relative;
        top:170px;
    }
    .infobox{
        width:100vw;
        height:100vh;
        top:0;
        left:0;
    }
    .pInfo{
        font-size:1.6vh;
        line-height:25px;
        margin-top:10px
    }
    #backBtn{
        display:block;
        margin:0 auto;
        text-align:center;
    }
    .working-on{
        display:none;
    }
}